extends ../../../views/layouts/default

block content
   .small-banner.general
      .overlay
         .container
            .row
               .col-md-12
                  .info
                     h1 Dashboard 
                        small Student Attendance Information System
                        
   .container
      .row
         .col-md-4
            h1 Schedule Today

         .col-md-8
            each schedule in schedules
               div
                  h3 #{schedule.course.name}
                  p #{schedule.lecturer.display_name}
               
block scripts
   
