extends ../../../views/layouts/default

block content
   .container
      .row
         .col-md-12
            .page-header
               h1 Dashboard
      
      .row
         .col-md-4
            h2 Schedule Today

         .col-md-8
            each schedule in schedules
               div
                  h3 #{schedule.course.name}
                  p #{schedule.lecturer.display_name}
               
block scripts
   
