extends ../../../views/layouts/default

block content
   .small-banner.users
      .overlay
         .container
            .row
               .col-md-12
                  .info
                     h1 Users 
                        small Student Attendance Information System
   
   .container
      .row
         .col-md-12
            .page-header
               h1 Index of User
      .row
         .col-md-2.col-md-offset-10
            a.btn.btn-block.btn-success(href='/users/add') Add New User
            p &nbsp;
      .row
         .col-md-12
            #tableUserList

block scripts
   // Constants
   script(src='/js/build/constants.js')
   
   // Internal Libraries
   script(src='/js/build/lib/Utils.js')
   
   // Components
   script(src='/js/build/components/ui/table/Table.js')
   script(src='/js/build/components/ui/common/LoadingIndicator.js')
   script(src='/js/build/components/ui/common/RetryActionContainer.js')      

   // Services
   script(src='/js/build/services/UserService.js')

   // Scripts
   script(src='/js/build/pages/users/IndexPage.js')
   script(src='/js/build/pages/users/pageIndex.js')
