doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="Imam Hidayat")

		link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/styles.css')

body
	block content
	include ../elements/footer

	script(src='/components/react/JSXTransformer.js')
	script(src='/components/react/react.min.js')
	script(src='/components/jquery/dist/jquery.min.js')
	script(src='/components/underscore/underscore-min.js')
	script(src='/components/bootstrap/dist/js/bootstrap.min.js')
	block scripts
