/* Overridden Bootstrap Styles */

.btn, .label, .form-control {
   border-radius: 0;
}

/* Main Styles */

div.footer {
   margin: 40px 0 0 0;
   padding: 10px 0 10px 0;
   border-top: solid 1px #ebebeb;
}

.btn-top-action {
   margin-top: 20px;
}

/* Misc. */

.no-margin {
   margin: 0;
}

.no-left-right-margin {
   margin-left: 0;
   margin-right: 0;
}

.no-top-bottom-margin {
   margin-top: 0;
   margin-bottom: 0;
}

.no-padding {
   padding: 0;
}

.no-left-right-padding {
   padding-left: 0;
   padding-right: 0;
}

.no-top-bottom-padding {
   padding-top: 0;
   padding-bottom: 0;
}
