extends ../../../views/layouts/default

block content
   .small-banner.attendances
      .overlay
         .container
            .row
               .col-md-12
                  .info
                     h1 Attendances 
                        small Student Attendance Information System
            
   .container
      .row
         .col-md-12
            .page-header
               h1 Index of Attendance Data
      .row
         .col-md-2.col-md-offset-10
            a.btn.btn-block.btn-success(href='/users/add') Add New User
      .row
         .col-md-12
            
